<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory name="CoreSessionFactory">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/DataBrokerCore</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.default_catalog">DataBrokerCore</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
        <property name="hibernate.show_sql">true</property>

        <!-- core -->
        <mapping class="dk.magenta.databroker.core.model.oio.DobbeltHistorikBase"/>
        <mapping class="dk.magenta.databroker.core.model.oio.DobbeltHistorikVersion"/>
        <mapping class="dk.magenta.databroker.core.model.oio.RegistreringEntity"/>
        <mapping class="dk.magenta.databroker.core.model.oio.RegistreringLivscyklusEntity"/>
        <mapping class="dk.magenta.databroker.core.model.oio.VirkningEntity"/>
        <mapping class="dk.magenta.databroker.core.model.ConsumerEntity"/>
        <mapping class="dk.magenta.databroker.core.model.ConsumerStatusEntity"/>
        <mapping class="dk.magenta.databroker.core.model.DataProviderEntity"/>
        <mapping class="dk.magenta.databroker.core.model.DataProviderStorageEntity"/>
        <mapping class="dk.magenta.databroker.core.model.IpAuthenticationEntity"/>
        <mapping class="dk.magenta.databroker.core.model.PasswordLoginEntity"/>
        <mapping class="dk.magenta.databroker.core.model.RequestLogEntryEntity"/>
        <mapping class="dk.magenta.databroker.core.model.RequestLogEntryErrorEntity"/>
        <mapping class="dk.magenta.databroker.core.model.UpdateLogEntryEntity"/>
        <mapping class="dk.magenta.databroker.core.model.UpdateTypeEntity"/>

        <!-- dawa-adresser -->
        <mapping class="dk.magenta.databroker.dawa.model.adgangsadresse.AdgangsAdresseEntity"/>
        <mapping class="dk.magenta.databroker.dawa.model.adgangsadresse.AdgangsAdresseVersionEntity"/>
        <mapping class="dk.magenta.databroker.dawa.model.ejerlav.EjerLavEntity"/>
        <mapping class="dk.magenta.databroker.dawa.model.ejerlav.EjerLavVersionEntity"/>
        <mapping class="dk.magenta.databroker.dawa.model.enhedsadresser.EnhedsAdresseEntity"/>
        <mapping class="dk.magenta.databroker.dawa.model.enhedsadresser.EnhedsAdresseVersionEntity"/>
        <mapping class="dk.magenta.databroker.dawa.model.lokalitet.LokalitetEntity"/>
        <mapping class="dk.magenta.databroker.dawa.model.postnummer.PostNummerEntity"/>
        <mapping class="dk.magenta.databroker.dawa.model.postnummer.PostNummerVersionEntity"/>
        <mapping class="dk.magenta.databroker.dawa.model.stormodtagere.StormodtagerEntity"/>
        <mapping class="dk.magenta.databroker.dawa.model.supplerendebynavne.SupplerendeByNavnEntity"/>
        <mapping class="dk.magenta.databroker.dawa.model.temaer.KommuneEntity"/>
        <mapping class="dk.magenta.databroker.dawa.model.temaer.RegionEntity"/>
        <mapping class="dk.magenta.databroker.dawa.model.temaer.TemaBase"/>
        <mapping class="dk.magenta.databroker.dawa.model.vejstykker.VejstykkeEntity"/>
        <mapping class="dk.magenta.databroker.dawa.model.vejstykker.VejstykkeVersionEntity"/>


        <!-- cvr-adresser -->
        <mapping class="dk.magenta.databroker.cvr.model.company.CompanyEntity"/>
        <mapping class="dk.magenta.databroker.cvr.model.company.CompanyVersionEntity"/>
        <mapping class="dk.magenta.databroker.cvr.model.companyunit.CompanyUnitEntity"/>
        <mapping class="dk.magenta.databroker.cvr.model.companyunit.CompanyUnitVersionEntity"/>
        <mapping class="dk.magenta.databroker.cvr.model.form.FormEntity"/>
        <mapping class="dk.magenta.databroker.cvr.model.industry.IndustryEntity"/>


        <!-- test stuff
        <mapping class="dk.magenta.databroker.jubk.model.JubkEntity"/>
        <mapping class="dk.magenta.databroker.jubk.model.JubkRegistreringEntity"/>
        -->

    </session-factory>

</hibernate-configuration>