body {
    padding-top: 50px;
}
.content {
    padding: 40px 15px;
}

.search label {
    width: 120px;
}

a.toggleDisplay {
    background: url('../img/arrowDown.png') no-repeat left center;
    padding-left: 10px;
    color: #333;
    text-decoration: none;
}

a.toggleDisplay.collapsed {
    background-image: url('../img/arrowRight.png');
}

span#include {
    display: block;
}