body {
    padding-top: 50px;
}
.content {
    padding: 40px 15px;
}

.search label {
    width: 120px;
}

.infobox {
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 10px; /*20px*/
    margin: 10px; /*20px*/
}

input.form-control[type=file] {
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: auto;
    padding: 0;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td {
    vertical-align: middle;
}

#treeview {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 9.5px;
}

#treeview .key {
    color: #888;
}
#treeview .value {
    color: #333;
}
#treeview .value.href {
    text-decoration: underline;
}

textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea.output {
    background: #fff;
    resize: none;
    padding: 9.5px;
}