<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title th:text="#{dataprovider.title}">DataBroker : Dataproviders</title>
  </head>
  <body>

    <div layout:fragment="content" style="text-align: left;">
      <h1 th:text="#{dataprovider.deleteHeader}">Delete data provider</h1>
      <form action="" method="post">
        <p th:text="#{dataprovider.deleteConfirmationPre} + ${name} + #{dataprovider.deleteConfirmationPost}"/>
        <button type="submit" name="submit" value="ok" class="btn btn-default" th:text="#{dataprovider.delete}">Delete</button>
        <button type="submit" name="submit" value="cancel" class="btn btn-default" th:text="#{dataprovider.cancel}">Cancel</button>
      </form>
    </div>

  </body>
</html>