<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title th:text="#{dataprovider.title}">DataBroker : Dataproviders</title>
    <style>
    </style>

    <script th:inline="javascript">
      window.providerData = [[${dataproviders}]];
      window.values = [[${values}]];
      window.blockImport = [[${blockImport}]];
      window.fragmentUrl = /*[[@{/dataproviders/fragment}]]*/ "/dataproviders/fragment";
      window.dataprovidersUrl = /*[[@{/dataproviders/}]]*/ "/dataproviders/";
    </script>

    <script type="text/javascript">
      // <![CDATA[
      $(function(){

        var singulate = function(value) {
          if (value instanceof Array) {
            return value.length > 0 ? value[0] : null;
          }
          return value;
        }

        var updateForm = function(providerId){
          var data = window.providerData[providerId];
          var container = $("#dataproviderConfiguration");
          if (data && data.template) {
            var template = window.fragmentUrl + "?f=" + data.template;
            $.ajax(template, {success:function(responseText, status, responseObject) {
              var tmp = $(document.createElement("div"));
              var values = $.extend({}, data.values, window.values);

              responseText = responseText.replace(/^[\s\S]*<body[^>]*>/, "");
              var index = responseText.lastIndexOf("</body>");
              if (index != -1) {
                responseText = responseText.substr(0, index);
              }

              tmp.html(responseText);
              tmp.find("input[type!=checkbox][type!=radio][type!=file]").each(function(i, el){
                if (el.name in values) {
                  el.value = singulate(values[el.name]);
                }
              });
              tmp.find("input[type=checkbox],input[type=radio]").each(function(i, el){
                if (el.name in values) {
                  if (el.value == singulate(values[el.name])) {
                    el.checked = "checked";
                  }
                }
              });
              tmp.find("select").each(function(i, el){
                if (el.name in values) {
                  $(el).find("option[value='"+singulate(values[el.name])+"']").attr("selected","selected");
                }
              });
              tmp.find("select").selectpicker({width:"auto"});

              if (window.blockImport) {
                tmp.find(".disable-when-importing").attr("disabled", "disabled");
              }
              container.empty();
              tmp.appendTo(container);
            }});
          } else {
              container.empty();
          }
        };

        $("#dataprovider").change(function(){
          updateForm(this.value);
        });

        updateForm($("#dataprovider").val())
      });
      // ]]>
    </script>
  </head>
  <body>

    <div layout:fragment="content" style="text-align: left;">
      <h1 th:if="${action == 'new'}" th:text="#{dataprovider.newProvider}">New data provider</h1>
      <h1 th:if="${action == 'edit'}" th:text="#{dataprovider.editProvider}">Edit data provider</h1>
      <form action="" id="editform" method="post" enctype="multipart/form-data" class="form-horizontal">
        <input th:if="${action == 'edit'}" type="hidden" name="uuid" th:value="${values.uuid[0]}"/>

        <div class="form-group">
          <label for="dataprovider" class="col-sm-2 control-label" th:text="#{dataprovider.typeLabel}">Type:</label>
          <div class="col-sm-10">
            <select name="dataprovider" id="dataprovider" th:attr="disabled=${action == 'edit' ? 'disabled':null}">
              <option th:each="dataprovider : ${dataproviders}" th:value="${dataprovider.key}" th:text="${dataprovider.key}" th:selected="${values['dataprovider'] != null and dataprovider.key.equals(values.dataprovider[0])}"></option>
            </select>
          </div>
        </div>

        <div class="form-group" th:if="${action == 'edit'}">
          <label for="name" class="col-sm-2 control-label" th:text="#{dataprovider.nameLabel}">Name:</label>
          <div class="col-sm-10">
            <input type="text" name="name" id="name" th:value="${values.name[0]}" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <label for="active" class="col-sm-2 control-label"  th:text="#{dataprovider.enabledLabel}">Enabled:</label>
          <div class="col-sm-10" style="padding-top: 10px">
            <input type="checkbox" name="active" id="active" value="active" th:checked="${values['active'] != null and values.active[0] == 'active'}"/>
          </div>
        </div>

        <div id="dataproviderConfiguration"/>

        <hr/>
        <div class="pull-right">
          <button type="submit" th:if="${action == 'new'}" name="submit" value="ok" class="btn btn-default" th:text="#{dataprovider.create}">Create</button>
          <button type="submit" th:if="${action == 'edit'}" name="submit" value="ok" class="btn btn-default" th:text="#{dataprovider.update}">Update</button>
          <button type="submit" name="submit" value="cancel" class="btn btn-default" th:text="#{dataprovider.cancel}">Cancel</button>
        </div>
      </form>
    </div>

  </body>
</html>