<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title>DataBroker : Dataproviders</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  </head>
  <body>

    <div layout:fragment="content" style="text-align: left;">
      <h1>Data providers</h1>
      <table class="table">
        <tr>
          <th>Data provider name</th>
          <th>Data provider type</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>

        <tr th:each="dataproviderEntity : ${dataproviderEntities}">
          <td th:text="${dataproviderEntity.getName()}">Data provider name</td>
          <td th:text="${dataproviderEntity.fetchShortType()}" th:title="${dataproviderEntity.getType()}">Data provider type</td>
          <td th:text="${dataproviderEntity.getActive() ? 'yes' : 'no'}"></td>
          <td>
            <a th:href="${'edit?uuid='+dataproviderEntity.getUuid()}" class="btn btn-default" role="button">Edit</a>
            <a th:href="${'delete?uuid='+dataproviderEntity.getUuid()}" class="btn btn-default" role="button">Delete</a>
            <a th:if="${dataproviderEntity.canPull()}" th:href="${'pull?uuid='+dataproviderEntity.getUuid()}" class="btn btn-default" role="button">Pull</a>
          </td>
        </tr>
      </table>
      <hr/>
      <div class="pull-right">
        <form action="new/" method="get">
          <button type="submit" class="btn btn-default">Add</button>
        </form>
      </div>
    </div>

  </body>
</html>