<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title>DataBroker : Dataproviders</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  </head>
  <body>

    <div layout:fragment="content" style="text-align: left;">
      <h1>Data providers</h1>
      <table border="1">
        <tr th:each="dataproviderEntity : ${dataproviderEntities}">
          <td th:text="${dataproviderEntity.getUuid()}">Data provider name</td>
          <td th:text="${dataproviderEntity.getType()}">Data provider type</td>
          <td><a th:href="${'edit?uuid='+dataproviderEntity.getUuid()}">Edit</a></td>
          <td><a th:href="${'delete?uuid='+dataproviderEntity.getUuid()}">Delete</a></td>
        </tr>
      </table>
      <form action="new/" method="get">
        <button type="submit">Add</button>
      </form>
    </div>

  </body>
</html>