<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>DataBroker : Dataproviders</title>

    <script th:inline="javascript">
        window.data = [[${data}]];
    </script>

</head>
<body>

<div layout:fragment="content" style="text-align: left;">
    <h1>Behandler</h1>
    <p th:text="'Dataprovider '+${data.name}+' arbejder'"/>

    <a href="/dataproviders/" class="btn btn-default">Tilbage</a>

    <script type="text/javascript">
        var statusTimer = setInterval(function(){
            $.ajax({
                type: "GET",
                url: "/dataproviders/processingStatus",
                data: {
                    uuid: window.data.uuid
                },
                dataType: "json",
                success: function(responseJSON, status, response) {
                    if (responseJSON != null) {
                        if (responseJSON.state == "TERMINATED") {
                            clearInterval(statusTimer);
                            statusTimer = null;
                            window.location.href = window.data.onDone;
                        }
                    }
                }
            });
        }, 4000);


    </script>

</div>

</body>
</html>