<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
    <meta charset="utf-8" />
    <title>Databroker</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/layout.css" />
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"/>
    <script type="text/javascript" src="/js/search.js"/>
  </head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <a class="navbar-brand" href="/">Databroker</a>
            <ul class="nav navbar-nav">
                <li th:class="${nav=='kommune'} ? 'active'"><a href="/doc/kommune">Kommune</a></li>
                <li th:class="${nav=='vej'} ? 'active'"><a href="/doc/vej">Vej</a></li>
                <li th:class="${nav=='postnummer'} ? 'active'"><a href="/doc/postnummer">Postnummer</a></li>
                <li th:class="${nav=='adresse'} ? 'active'"><a href="/doc/adresse">Adresse</a></li>
                <li th:class="${nav=='adgangsadresse'} ? 'active'"><a href="/doc/adgangsadresse">Adgangsadresse</a></li>
                <li th:class="${nav=='lokalitet'} ? 'active'"><a href="/doc/lokalitet">Lokalitet</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    <div layout:fragment="content" class="content">
    </div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
