<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
  <head>
    <meta charset="utf-8" />
    <title>Databroker</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap-select/css/bootstrap-select.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/jsTree/themes/default/style.css}" />
    <script type="text/javascript" th:src="@{/jquery/jquery-1.11.2.min.js}"/>
    <script type="text/javascript" th:src="@{/js/search.js}"/>
    <script type="text/javascript" th:src="@{/jsTree/jstree.js}"/>
      <script type="text/javascript" th:src="@{/js/tree.js}"/>
  </head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <a class="navbar-brand" href="/">Databroker</a>
            <ul class="nav navbar-nav">
                <li th:class="${nav=='kommune'} ? 'active'"><a th:href="@{/doc/kommune}">Kommune</a></li>
                <li th:class="${nav=='vej'} ? 'active'"><a th:href="@{/doc/vej}">Vej</a></li>
                <li th:class="${nav=='postnr'} ? 'active'"><a th:href="@{/doc/postnr}">Postnummer</a></li>
                <li th:class="${nav=='adresse'} ? 'active'"><a th:href="@{/doc/adresse}">Adresse</a></li>
                <li th:class="${nav=='adgangsadresse'} ? 'active'"><a th:href="@{/doc/adgangsadresse}">Adgangsadresse</a></li>
                <li th:class="${nav=='lokalitet'} ? 'active'"><a th:href="@{/doc/lokalitet}">Lokalitet</a></li>
                <li th:class="${nav=='virksomhed'} ? 'active'"><a th:href="@{/doc/virksomhed}">Virksomhed</a></li>
                <li th:class="${nav=='dataprovider'} ? 'active'"><a th:href="@{/dataproviders/}">Datakilder</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    <div layout:fragment="content" class="content">
    </div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap-select/js/bootstrap-select.min.js}"/>
<script type="text/javascript">
    // <![CDATA[
    $(function(){
        $('select').selectpicker({width:"100%"});
    });
    // ]]>
</script>
</body>
</html>
